.title {
  display: flex;
  justify-content: center;
  font-family: cursive;
}
.start {
  height: none;
}

.container-button {
  display: flex;
  justify-content: center;
}
.button {
  font-size: 16px;
  padding: 8px;
  width: 76px;
  background: black;
  color: wheat;
  cursor: pointer;
}
.button-disable {
  font-size: 16px;
  padding: 8px;
  width: 76px;
  background: lightgrey;
  color: white;
  cursor: pointer;
}
.Modal-Row {
  display: flex;
  justify-content: center;
}

.Soup {
  display: inline-block;
  border: 1px solid black;
  font-size: 30px;
  padding: 5px;
  margin: 2px;
  margin-top: 20px;
}
.Soup-result {
  display: inline-block;
  border: 1px solid black;
  font-size: 30px;
  padding: 5px;
  margin: 2px;
  margin-top: 20px;
  background: black;
  color: wheat;
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}
.Result-Modal {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 14px;
  background: black;
  color: wheat;
  cursor: pointer;
}
.Min-Letter {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
  margin-right: 7px;
  background: black;
  color: wheat;
  cursor: pointer;
}

.loading {
  display: flex;
  font-family: cursive;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  display: flex;
  font-family: cursive;
  justify-content: center;
}
